<header role="banner">
    <div class="header-wrapper">
        <div class="site-title">
            <div class="logo">
                <%= image_tag "MegsoLogo.png" %>
            </div>
        </div>
    </div>
</header>