<% if current_user.is_admin == true %>
  <br>
  <div class="row">
    <div class = "col">
    </div>
    <div class = "col-5">
      <h1>New Alumni</h1>
    </div>
    <div class = "col">
    </div>
  </div>
  <br>

  <%= render 'form', alumni: @alumni %>

<% end %>

<% if current_user.is_admin == false %>
  <h1>You do not have access to this page!</h1>
<% end %>
