// Place all the styles related to the rewards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.circle {
    width: 150px;
    height: 150px;
    line-height: normal;
    border-radius: 50%;
    font-size: 20px;
    color: #1e8e11;
    text-align: center;
    padding: 50px 0;
    background: #fff;
    font-weight: bold;
  }